<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.fanhl.feature1">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_feature1">
        <dist:fusing dist:include="false"/>
    </dist:module>
</manifest>

